In [87]:
import requests
import os
from dotenv import load_dotenv
import sys
import json
import pandas as pd 
import numpy as np

sys.path.append("../")
load_dotenv()
key = os.environ.get("KEY")

url = "https://zillow-com4.p.rapidapi.com/v2/properties/search-for-rent"

In [124]:
citys = ['La Jolla', 
         'University City', 
         'Clairemont Mesa West', 
         'Clairemont Mesa East',
            'North Clairemont',
         'Sorrento Valley', 
         'Mira Mesa', 
         'Kearny Mesa', 
         'Pacific Beach',
         'Bay Ho',
         "Del Mar Heights",
         "Linda Vista"]

In [131]:
datas = {}
jsons = {}
for c in citys:
	loc = c + ", San Diego, CA"
	payload = { "location": loc}
	headers = {
		"content-type": "application/json",
		"X-RapidAPI-Key": "82aac7b40fmshe040a3f42be54a2p123dccjsn705f8900448c",
		"X-RapidAPI-Host": "zillow-com4.p.rapidapi.com"
	}

	response = requests.post(url, json=payload, headers=headers)
	jsons[c] = response.json()
	datas[c] = response.json()['data']

In [132]:
for k in citys:
    with open('data/'+k+'.json', 'w') as f:
        json.dump(jsons[k], f)

In [133]:
#data retrieve
datas ={}
for c in citys:
    f = open('data/'+c+'.json', 'r')
    datas[c] = json.load(f)['data']
    f.close()

In [134]:
fin_data = pd.DataFrame()
for c in citys:   
    temp = datas[c]
    temp = [i['property'] for i in temp]
    pre_df = {
        'address': [],
        'city':[],
        'type':[],
        'bedroom':[],
        'bathroom':[],
        'price':[]
    }
    for r in temp:
        if 'bathrooms' in r:
            pre_df['address'] += [r['address']['streetAddress']]
            pre_df['city'] += [c]
            if 'groupType' in r:
                pre_df['type'] += [r['groupType']]
            else:
                pre_df['type'] += [np.nan]
            pre_df['bathroom'] += [r['bathrooms']]
            pre_df['bedroom'] += [r['bedrooms']]
            pre_df['price'] += [r['price']['value']]
        else:
            for unit in r['unitsGroup']:
                pre_df['address'] += [r['address']['streetAddress']]
                pre_df['city'] += [c]
                if 'groupType' in r:
                    pre_df['type'] += [r['groupType']]
                else:
                    pre_df['type'] += [np.nan]
                pre_df['bathroom'] += [np.nan]
                pre_df['bedroom'] += [unit['bedrooms']]
                pre_df['price'] += [unit['minPrice']]
    df = pd.DataFrame(pre_df)
    fin_data = pd.concat([fin_data,df])

In [135]:
fin_data

,address,city,type,bedroom,bathroom,price
0,8683 Via Mallorca,La Jolla,apartmentComplex,1,NaN,2456
1,400 Prospect St,La Jolla,apartmentComplex,1,NaN,5599
2,400 Prospect St,La Jolla,apartmentComplex,2,NaN,6008
3,7623 Eads Ave #7621-2E,La Jolla,apartmentComplex,1,1.0,2400
4,8506 Villa La Jolla Dr,La Jolla,apartmentComplex,1,NaN,2665
...,...,...,...,...,...,...
63,6704 Tait St,Linda Vista,NaN,2,1.0,2995
64,2250-2252 Morley St #2225-02,Linda Vista,apartmentComplex,0,1.0,1595
65,2284 Dunlop St APT 14,Linda Vista,apartmentComplex,2,2.0,2525
66,6646 Kelly St #11054756,Linda Vista,apartmentComplex,2,2.0,2900
67,2200-2304 Morley St #2302-3,Linda Vista,apartmentComplex,0,1.0,1595